@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?h1f57j');
  src:  url('../fonts/icomoon.eot?h1f57j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?h1f57j') format('truetype'),
    url('../fonts/icomoon.woff?h1f57j') format('woff'),
    url('../fonts/icomoon.svg?h1f57j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-banknote:before {
  content: "\e90a";
}
.icon-cup:before {
  content: "\e90b";
}
.icon-dribbble:before {
  content: "\e90c";
}
.icon-facebook1:before {
  content: "\e90d";
}
.icon-film:before {
  content: "\e90e";
  color: #fff;
}
.icon-google:before {
  content: "\e90f";
}
.icon-lab:before {
  content: "\e910";
  color: #fff;
}
.icon-lamp:before {
  content: "\e911";
}
.icon-like:before {
  content: "\e912";
  color: #fff;
}
.icon-linkedin:before {
  content: "\e913";
}
.icon-params:before {
  content: "\e914";
}
.icon-Shape_1:before {
  content: "\e915";
  color: #fff;
}
.icon-Shape_3:before {
  content: "\e91b";
  color: #fff;
}
.icon-slideshow:before {
  content: "\e91c";
  color: #fff;
}
.icon-stack:before {
  content: "\e916";
  color: #f39c12;
}
.icon-star:before {
  content: "\e917";
}
.icon-twitter:before {
  content: "\e918";
}
.icon-user:before {
  content: "\e919";
  color: #fff;
}
.icon-world:before {
  content: "\e91a";
}
.icon-fa-android:before {
  content: "\e903";
  color: #fff;
}
.icon-fa-apple:before {
  content: "\e904";
  color: #fff;
}
.icon-fa-check:before {
  content: "\e905";
  color: #fff;
}
.icon-fa-dribbble1:before {
  content: "\e906";
  color: #fff;
}
.icon-fa-flickr1:before {
  content: "\e907";
  color: #fff;
}
.icon-fa-twitter1:before {
  content: "\e908";
  color: #fff;
}
.icon-Livello_2:before {
  content: "\e909";
}
.icon-fa-dribbble:before {
  content: "\e900";
  color: #fff;
}
.icon-fa-flickr:before {
  content: "\e901";
  color: #fff;
}
.icon-fa-twitter:before {
  content: "\e902";
  color: #fff;
}
.icon-camera:before {
  content: "\e91d";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-linkedin2:before {
  content: "\eaca";
}
