body {
    color: #ffffff;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 99;
}

.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper_header {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 40px;
    z-index: 2;
    position: relative;
}
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 40px;
}

h1 {
    font-size: 45px;
    font-weight: 300;
    line-height: 60px;
    margin-bottom: 90px;
}

h6 {
    color: #0d0d0d;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    
}

h4 {
    color: #0d0d0d;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

h1 .lg{
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    display: block;
    letter-spacing: -3px;
}

h1 .sm {
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
}

.hr {
    /* Style for "Rectangle" */
    height: 2px;
    background-color: #e6e6e6;
    margin: 120px 0;
}

/* buttons */

.btn {
    display: inline-block;
    vertical-align:middle ;
    height: 42px;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    padding: 11px 35px 0;
    font-family: "Open Sans - Semibold", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
}

.btn-warning {
    /* Style for "Rectangle" */
    
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border-color: #f39c12;
    border-radius: 5px;
}

.btn:hover {
    background-color: #f39c12;
}

.logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
}

.logo a:hover {
    background-color: #f39c12;
}

.menu {
    list-style: none;
    display: flex;  
}

.menu_items {
    margin-left: 84px;
    position: relative;
}

.menu_items::after {
    content: '\\\\';
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    left: 100%;
    top: 0;
    position: absolute;
    margin-left: 34px;
}

.menu_items:last-child:after {
    display: none;
}

.menu_links {
    color: #ffffff;
    font-family: "Open Sans - Semibold", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.menu_links:hover {
    color: #0d0d0d;
}



/*banner*/

.banner {
    text-align: center;
    padding-top: 330px;
    padding-bottom: 280px;
    height: 820px;
    background: url('../img/wB4Fh1.jpg') no-repeat center top ;
    position: relative;
    
}

/* затемнение */

.banner:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
    z-index: 1;
}

/* ABOUT */



.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 90%; */
    margin: 0 auto 120px;
}

.heading h2 {
    color: #0d0d0d;
    width: 200px;
    flex: none;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    position: relative;
    margin-right: 40px;
    text-align: right;
}

.heading h2::after {
    content: '';
    display: block;
    width: 4px;
    height: 45px;
    background-color: #f39c12;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -22px;
    margin-left: 20px;
}

.heading p {
    flex: 1;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}

.about_wrap {
    display: flex;
    align-items: flex-start;
   
}

.about_wrap_bg {
    display: flex;
    align-items: flex-start;
    /* padding-bottom: 120px; */
}

.about_wrap-content {
    display: flex;
    align-items: flex-start;
}

.about_wrap-content-text h6 {
    margin-bottom: 20px;
}
.about_wrap-content-text p {
    color: #737373;
    font-size: 16px;
    line-height: 28px;
}

.about_wrap-content-icon {
    color: #0d0d0d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    font-size: 40px;
    width: 125px;
    height: 125px;
    border: 2px solid #f39c12;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 29px;
}



.about_wrap-img {
    margin-left: 35px;
}

.about_wrap-content-text .about_text {
    line-height: 28px;
    color: #e74c3c;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 25px;
}

.about_wrap-img {
    position: relative;
}

.about_wrap-icon-foto {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* box_skils */

.box_skils {
   /* margin-top: 120px; */
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
}

.box_skils-item {
    width: 50%;
}

.box_skils-item-img img {
    display: inline-block;
    max-width: 100%;
    padding-right: 50px;

}

.box_skils-item-img  {
    padding-right: 50px;

}

.box_skils-item-content {
    padding-left: 40px;
}

/* bars */
.box_bars {
    margin-top: 60px;
}

.bars {
margin-bottom: 30px;

}

.bars_title {
    color: #0d0d0d;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.bars_title span {

color: #bfbfbf;
font-family: "Open Sans Semibold";
font-weight: 600;

}

.bars_line {
    background: #e6e6e6;
    height: 10px;
}

.bars_line > div{
    background: #f39e16;
    height: 10px;
}

.section {
    padding: 105px 0 100px;
}

.section_bg {
    height: 700px;
    display: flex;
    align-items: center;
    background: url('../img/2-layers.png') no-repeat center top;
    background-size: cover;
    /* margin-bottom: 70px; */
}



.wrapper_second_foto {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 40px;
}

.wrapper_second_foto_bg {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
}

.second_foto-content {
   text-align: center;
}

.foto_text {
font-size: 45px;
font-weight: 700;
line-height: 45px;
margin-bottom: 40px;
position: relative;
padding: 0 30px;

}

.foto_text::after, .foto_text::before {
    content: '"';
    display: block;
    font-family: "Open Sans";
    font-size: -110px;
    font-weight: 700;
    line-height: -60px;
    top: 0;
    position: absolute;
}

.foto_text::after {
    right: 0;
}

.foto_text::before {
    left: 0;
}

.foto_autor{
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    position: relative;
}

.foto_autor::before {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: #f39c12;
    margin: 0 auto 15px;
    left: 100%;
    top: 0;
}
/* .foto_autor::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: #f39c12;
    margin: 18px auto 20px;
    left: 100%;
    top: 0;
} */

/* team */



.team_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team_list-item {
    text-align: center;
    width: 269px;
    padding: 25px 15px 20px;
    border-top: 4px solid transparent;
}

.team_list-item:hover {
    background-color: #f0f0f0;
    border-color:#f39c12;
}

.team_list-item:hover .team_list-job::after{
    background-color: #e74c3c;
}

.team_list-img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 62px;
    width: 200px;
    height: 200px;      
    background-color: #e8f8f4;
    border-radius: 50%;
    border: 6px solid #f2f2f2;
    position: relative;
    margin: 0 auto;
}

.team_list-img:after {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    width: 202px;
    height: 202px;  
}

.team_list-img img {
    widows: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}

.team_list-job {
    color: #999999;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    position: relative;
}

.team_list-job::after {
content: '';
display: block;
/* position: absolute; */
width: 20px;
height: 4px;
background-color: #0d0d0d;
margin: 10px auto 15px;
}

.team_list-item h4 {
    margin-top: 25px;
}


.team_list-item p {
    /* margin-top: 33px; */
    color: #737373;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.social {
    margin-top: 29px;
    
}

.social_link {
    font-size: 18px;
    color: #999999;
    margin-right: 12px;
}

.social_link:last-child {
    margin-right: 0; 
}

.social_link:hover {
    color: #f39c12;
}


/* facts_list */


.facts_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.facts_list-item-bg:hover .facts_list-icon-bg{
    border-color: #ffffff;
}

.facts_list-item-bg:hover .facts_list-icon-bg [class*='icon']::before {
    color: #f39c12;
}

.facts_list-icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    width: 125px;
    height: 125px;
    border: 2px solid #f39c12;
    /* background-color: #ffffff; */
    border-radius: 50%;
    /* margin-right: 163px; */
    color: #ffffff;
    transition: all 0.3s;
}

.facts_list-icon-bg [class*='icon']::before {
    color: #ffffff;
    transition: all 0.3s;
}


.facts_list-icon-bg:last-child {
    margin-right: 0;
}

.facts_list h5{
/* Style for "6K+ Coffee" */
/* width: 91px;
height: 62px; */
color: #ffffff;
font-family: "Open Sans", sans-serif;
font-size: 25px;
font-weight: 700;
/* Text style for "6K+" */
/* font-size: 45px; */
text-align: center;
line-height: 29px;
margin-top: 30px;
}

.facts_list h5 span {
    font-size: 45px;
    display: block;
    line-height: 45px;
}

.service_list {
    display: flex;
    text-align: center;
    margin: 0 -15px;
}

.service_list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 105px;
    border: 2px solid #f39c12;
    border-radius: 50%;
    margin: 0px auto 30px;
    /* color: black; */
    transition: all 0.3s;
    font-size: 27px;
}

.service_list-item:hover .service_list-icon {
    background-color: #f39c12;
}
.service_list-item:hover .service_list-icon [class*='icon']::before {
    color: #fff;
}

.service_list-icon [class*='icon']::before {
    color: #0d0d0d;
    transition: all 0.3s;
}

.service_list-item {
    color: #737373;
    padding: 0 15px;
}

/* .service_list-item:last-child {
    margin-right: 0px;
} */

.service_list-item h6 {
    margin: 30px 0 25px 0;
}

.service_list-item p {
    color: #737373;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.box_pricing {
    display: flex;
}



.box_pricing .service_list-icon {
    margin-left: 0;
    /* Style for "Ellipse 2" */
    width: 125px;
    height: 125px;
    font-size: 32px;
}

.pricing {
    display: flex;
    text-align: center;
    align-items: flex-start;
    margin-left: 5%;
}

.pricing_item {
    border: 1px solid #e6e6e6;
    width: 250px;
}


.pricing_item:first-child {
    margin-top: 16px;
    border-right:none;
}
.pricing_item:last-child {
    margin-top: 16px;
    border-left:none;
}

.pricing_item.active {
    border-right:none;
    border-left:none;
    border-top: 17px solid #f39c12;
    border-bottom: 11px solid #e6e6e6;
    background-color: #f2f2f2;
}

.pricing_header{
    padding: 28px 25px;
}

.pricing_item.active .pricing_header{
    background:  #f39c12;
}

.pricing_headet-title {
color: #0d0d0d;
font-size: 22px;
font-weight: 700;
line-height: 25px;
text-transform: uppercase;
}

.pricing_item.active .pricing_headet-title {
    color: #fff;
}

.pricing_headet-title span::before {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #f39c12;
    margin: 5px auto;
}

.pricing_item.active .pricing_headet-title span::before {
    background-color: #fff;
}

.pricing_list {
    list-style: none;
}

.pricing_list li{
    list-style: none;
    color: #737373;
    font-size: 15px;
    line-height: 16px;
    padding: 17px;
    border-top: 1px solid #e6e6e6;
}
.pricing_list li:last-child{
   
    border-bottom: 1px solid #e6e6e6;
}

.pricing_list li:nth-child(odd){
    background: #fafafa;
}

.pricing_item.active .pricing_list li:nth-child(odd){
    background: #e6e6e6;
}

.pricing_footer {
    padding: 34px 28px;
}

.pricing_item.active .pricing_footer {
    background: #e6e6e6;
}

.pricing_footer .btn {
    height: 38px;
    padding-top: 9px 33px 0;
}

.testimonial {
    text-align: center;

}

.testimonial .foto_autor::before {
    display: none;
}

.testimonial .foto_autor::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: #f39c12;
    margin: 18px auto 38px;
    left: 100%;
    top: 0;
}

.testimonial_text {
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    line-height: 30px;
    margin-bottom: 29px;
}

.testimonial_logo {
    /* Style for "Layer 15" */
    width: 104px;
    height: 104px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial_logo {
    display: block;
    width: 100%;
}

/* portfolio */

.nav_tab-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    
    
}
.nav_tab-list-item{
/* margin-right: 50px; */
position: relative;
}

.nav_tab-list-item::after {
   /* Style for "All Work" */
content: '\\\\';
display: inline-block;
vertical-align: middle;
font-family: "Open Sans";
font-size: 14px;
font-weight: 700;
line-height: 25px;
text-transform: uppercase;
/* position: absolute; */
margin: 0 18px;

/* Text style for "\\" */
color: #a6a6a6;
}

.nav_tab-list-item:last-child::after {
    display: none;
}



.nav_tab-list-item.active .nav_tab-list-link{
    color: #f39c12;
    }

.nav_tab-list-link {
    /* Style for "All Work" */

font-size: 14px;
font-weight: 700;
line-height: 25px;
text-transform: uppercase;
/* Text style for "A, ll Work" */
}

